<div id="banner" class="big-header">
    <div class="fadecard"></div>
    <div class="title-holder">
        <div id="title">
            <h1>Rough Cane Sugar</h1>
        </div>
            <div>
              <p id="subt" class="invisiblestart1">NY based Electronic Duo,<br />
              Modern Jazz and Electronica<br /></p>
            </div>
        </div>

        <div id="newsbits" class="invisiblestart2">
            <a href="#one" id="bigheaderbutton" class="adbutton">Learn more</a>
        </div>
        <div id="morearrow" class="beforearrow">
            <p> more </p> 
            <div class="miniarrow">

            </div>
            </button>
        </div>

    </div>
</div>